<!DOCTYPE html>
<html>
<head>
    <title>Depression Support</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Depression Support and Recommendation System</h1>
    <form action="/analyze" method="post">
        <label for="text">Describe your mood:</label><br><br>
        <textarea id="text" name="text" rows="4" cols="50" placeholder="Enter your thoughts here..."></textarea><br><br>
        <button type="submit">Analyze</button>
    </form>

    <br>

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/18qcsQqC9bQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

</body>
</html>
